@import 'tailwindcss';

@theme {
  /* Custom Colors */
  --color-brand-blue: #40bfff;
  --color-brand-pink: #ff4858;
  --color-brand-light: #bcddfe;
  --color-brand-dark: #373737;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
} */
